/* Note: Operators are {(.class), (#id)}*/

/* id class : header header_section 
	- subclass : header_title
	- subclass : nav-bar */

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.header_section{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

    background-color: #333;
}

.header_title{
    margin: 0.5 0.5 0.25 0.5em;
    font-size: 34px;
    color: royalblue;
}


.nav-bar {
    list-style-type: none;
    display: flex;
    width: 100%;
    max-width: 100vw; /* Restrict viewport to prevent overflow */
    box-sizing: border-box; /* Prevents padding from pushing outside max width*/

    margin: 0px;
    padding: 0.5em;
    background-color: #444;
    justify-content: center;
}

.nav-bar button{
    font: inherit; /* Font from Parent element */
    cursor: pointer; /* On hover */

    margin: 0.5em;
    padding: 0.5em;

    color: #fff;
    outline: none;
    border: none;
    background: none;

    position:relative; /* relative + top/bottom will not affect surrounding elements*/
}

.nav-bar button:hover{
    color: royalblue;
    transform: translateY(-8px);
    font-weight: bold;
    transition: font-weight 0.05s ease;
    transition: top;
}

/* id class : block_content content_section
    - Default Functionality: ONLY home page (via URL)
    - The "none" will act as (hide) */
#home_content{
    display: block;
}

#introduction_content{
    display: grid;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    margin: 0px;
}

#introduction_content img{
    width: 150px;
    height: 150px;
    margin: 2em;

    border-radius: 50%; /* Roundedness */
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#introduction_content img:hover{
    animation: rotate 2.5s linear infinite;
    /* 2.5 seconds for a full rotation */
}

#quick_biography_content{
    margin: 0px;
}

#quote_content{
    font-size: 14px;
}

#biography_content{
    display: none;
}

#projects_content{
    display: none;
}

#skills_content{
    display: none;
}

#contact_content{
    display: none;
}
/* id class : footer footer_section */